.no_no{
  height: 30px;
}
.history{
    width: 100%;
    height: 100vh;
    background-color: rgb(140, 140, 176);
    overflow : "hidden";

}
/* 球 */
.ball{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 24px;
  background-color: #43437a;
  transform: translateX(340px) translateY(525px);
  position: relative;
  z-index: 3;

}
/* 人 */
#shoot{
  width: 500px;
  height: 500px;
  bottom: 0;
  left: 0;
  transform: rotate(0deg) translateY(0px);
  position: relative;
  z-index: 2;

}
#backboard{
  width: 500px;
  height: 500px;
  top: 0;
  left: 0;
  transform: translateX(800px) translateY(-600px);
  position: relative;
  z-index: 4;
}
#audience{
  width: 500px;
  height: 500px;
  top: 0;
  left: 0;
  transform: translateX(280px) translateY(-550px) scaleX(1.6) scaleY(1.6);
  position: relative;
  z-index: 1;
}
#audience_2{
  width: 500px;
  height: 500px;
  top: 0;
  left: 0;
  transform: translateX(50px) translateY(118px) scaleX(1.6) scaleY(1.6);
  position: absolute;
  z-index: 1;
}

#human_body {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 0;
  top: 0;
  z-index: 1; /* 默認 */
}
#human_hard {
  position:absolute;
  width: 500px;
  height: 500px;
  transform-origin: 280px 220px;
  transform: rotate(90deg) translateX(0px) translateY(0px) ;
  left: 0;
  top: 0;
  z-index: 2; /* 保證手在人體圖片之上 */
}
#home{
  position:fixed;
  width: 500px;
  height: 300px;
  background-color: #7d7da7;
  transform: translateX(0px) translateY(-1000px) ;
  z-index: 0; /* 保證手在人體圖片之上 */
}
#home_2{
  position:fixed;
  width: 400px;
  height: 400px;
  background-color: #7d7da7;
  transform: translateX(500px) translateY(-1100px) ;
  z-index: 0; /* 保證手在人體圖片之上 */
}
#home_3{
  position:fixed;
  width: 400px;
  height: 330px;
  background-color: #7d7da7;
  transform: translateX(1100px) translateY(-1050px) ;
  z-index: 0; /* 保證手在人體圖片之上 */
}

#hoop{
  position:fixed;
  width: 400px;
  height: 330px;
  transform: translateX(-500px) translateY(-400px) ;
  z-index: 0; /* 保證手在人體圖片之上 */
  opacity: 0;
}
#audience_3{
  position:fixed;
  width: 1080px;
  height: 1080px;
  transform: translateX(-850px) translateY(-600px) scaleX(1.3) scaleY(1.3) ;
  z-index: 3; /* 保證手在人體圖片之上 */
  opacity: 0;
}
.big_title_box{
  width: 100%;
  height: auto;
}
.big_title {
  width: 100%;
  height: 800px;
  box-shadow: 0px 0px 3px 2px rgba(71, 64, 56, 0.3);
  background: radial-gradient(circle, rgb(157, 157, 210, 0.8) 20%, rgb(206, 206, 239, 0.8) 70%, rgb(235, 235, 250, 0.8) 100%);
  /* filter: blur(5px); */
  animation: gradient 10s ease-in-out infinite; /* 应用缩放动画 */
  background-size: 200% 200%; /* 初始背景大小为 100% */
  position: relative; 
  overflow: hidden;
}
.big_title::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/籃球超大圖.png') no-repeat center center; /* 替换为你的图片路径 */
  background-size: cover; /* 确保图片填充容器 */
  opacity: 0.5; /* 调整图片透明度 */
  pointer-events: none; /* 避免伪元素阻挡鼠标事件 */
  z-index: -1; /* 让图片位于 .big_title 的背景上 */

}
.big_title::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/水波紋.png') no-repeat center center; /* 替换为你的图片路径 */
  background-size: cover; /* 确保图片填充容器 */
  opacity: 0.9; /* 调整图片透明度 */
  pointer-events: none; /* 避免伪元素阻挡鼠标事件 */
  z-index: -1; /* 让图片位于 .big_title 的背景上 */

}

@keyframes gradient{
  0%{
      background-position: 0% 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }

}
.big_word_his{
  position: absolute; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: relative;
  background-size: 200% 200%; /* 初始背景大小为 100% */
  z-index: 2;
}
.big_word{
  font-size: 7rem;
  font-weight: bold;
  background: linear-gradient(135deg, #55558b, #43437a, #22223c); /* 渐变颜色 */
  background-clip: text;  /* 让渐变应用到文本 */
  -webkit-background-clip: text;  /* 对Webkit浏览器的兼容性 */
  color: transparent;  /* 保持文本透明度，使背景渐变显示 */
  font-weight: 1000;
  animation: gradientMove 10s ease-in-out infinite;
  background-size: 150% 150%; /* 初始背景大小为 100% */

}

.big_small{
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(135deg, #55558b, #43437a, #22223c); /* 渐变颜色 */
  background-clip: text;  /* 让渐变应用到文本 */
  -webkit-background-clip: text;  /* 对Webkit浏览器的兼容性 */
  color: transparent;  /* 保持文本透明度，使背景渐变显示 */
  font-weight: 1000;
  animation: gradientMove 10s ease-in-out infinite;
  background-size: 200% 200%; /* 初始背景大小为 100% */
}
.big_round{
  background: linear-gradient(135deg, #55558b,#43437a, #22223c);
  border-radius: 50%;
  position: absolute; 
  animation: float 5s ease-in-out infinite;
  transition: all 2s ease;
}
@keyframes gradientMove {
  0%, 100% {
    background-position: 0% 0%; /* 初始渐变位置 */
  }
  50% {
    background-position: 100% 100%; /* 改变渐变方向 */
  }
}
@keyframes float {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }
  25% {
    transform: translate(-50%, -50%) translateY(-20px);
  }
  50% {
    transform: translate(-50%, -50%) translateY(0);
  }
  75% {
    transform: translate(-50%, -50%) translateY(-20px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(20px);
  }
}
#round_1 {
  left: 5vw;  /* 左边距为视窗宽度的 5% */
  bottom: 8vh;  /* 底部为视窗高度的 10% */
  width: 13vw;  /* 宽度为视窗宽度的 15% */
  aspect-ratio: 1 / 1;
  opacity: 0.9;
  animation: randomFloat 10s ease-in-out infinite;
}

#round_2 {
  left: 14vw;  /* 左边距为视窗宽度的 10% */
  bottom: 45vh;  /* 底部为视窗高度的 20% */
  width: 6vw;  /* 宽度为视窗宽度的 6% */
  aspect-ratio: 1 / 1;
  opacity: 0.7;
  animation: randomFloat_2 11s ease-in-out infinite 0.5s;
}

#round_3 {
  left: 22vw;  /* 左边距为视窗宽度的 20% */
  bottom: 17vh;  /* 底部为视窗高度的 15% */
  width: 8vw;  /* 宽度为视窗宽度的 8% */
  aspect-ratio: 1 / 1;
  opacity: 0.8;
  animation: randomFloat_3 9s ease-in-out infinite 1s;
}

#round_4 {
  right: 6vw;  /* 右边距为视窗宽度的 5% */
  top: 40vh;  /* 顶部为视窗高度的 25% */
  width: 6vw;  /* 宽度为视窗宽度的 6% */
  aspect-ratio: 1 / 1;
  opacity: 0.7;
  animation: randomFloat_2 12s ease-in-out infinite 0.75s;
}

#round_5 {
  right: 18vw;  /* 右边距为视窗宽度的 8% */
  top: 43vh;  /* 顶部为视窗高度的 20% */
  width: 10vw;  /* 宽度为视窗宽度的 15% */
  aspect-ratio: 1 / 1;
  animation: randomFloat 8s ease-in-out infinite 1.25s;
  opacity: 0.8;
}

#round_6 {
  right: 8vw;  /* 右边距为视窗宽度的 5% */
  top: 10vh;  /* 顶部为视窗高度的 10% */
  width: 14vw;  /* 宽度为视窗宽度的 10% */
  aspect-ratio: 1 / 1;
  opacity: 0.9;
  animation: randomFloat_3 9s ease-in-out infinite 1.5s;
}


.fly{
  transform: translateY(-30px);
}

.big_blue{
  width: 100%;
  aspect-ratio: 16 /9 ;
  box-shadow: 0px 0px 3px 2px rgba(71, 64, 56, 0.3);
  background: linear-gradient(135deg, #55558bc0, #43437a, #22223c); 
  /* filter: blur(5px); */
  animation: gradient 10s ease-in-out infinite; /* 应用缩放动画 */
  background-size: 200% 200%; /* 初始背景大小为 100% */
  overflow: hidden;
  padding: 150px 50px;
  display: flex;
  justify-content:center;
  align-items: center;
}
.big_pur{
  width: 100%;
  aspect-ratio: 16 /9 ;
  box-shadow: 0px 0px 3px 2px rgba(71, 64, 56, 0.3);
  background: linear-gradient(135deg, #a976e0b2, #7358ab, #52309c); 
  /* filter: blur(5px); */
  animation: gradient 10s ease-in-out infinite; /* 应用缩放动画 */
  background-size: 200% 200%; /* 初始背景大小为 100% */
  overflow: hidden;
  padding: 150px 50px;
  display: flex;
  justify-content:center;
  align-items: center;

}
.big_blue::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/背景點點.png') no-repeat center center; /* 替换为你的图片路径 */
  background-size: cover; /* 确保图片填充容器 */
  opacity: 1; /* 调整图片透明度 */
  pointer-events: none; /* 避免伪元素阻挡鼠标事件 */
  z-index: 0; /* 让图片位于 .big_title 的背景上 */

}
.big_pur::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/背景點點.png') no-repeat center center; /* 替换为你的图片路径 */
  background-size: cover; /* 确保图片填充容器 */
  opacity: 1; /* 调整图片透明度 */
  pointer-events: none; /* 避免伪元素阻挡鼠标事件 */
  z-index: 0; /* 让图片位于 .big_title 的背景上 */

}
.big_blue_img{
  width: calc(50% - 50px);
  aspect-ratio: 3 / 2;
  pointer-events: none; /* 禁止拖曳圖片（可選） */
  user-select: none;/* 禁止文字或圖片被選中 */
}
.big_blue_word{
  width: calc(50% + 50px);
  height: auto;
  padding:20px 20px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8; /* 行高，1.5~2 是常見的範圍 */
  

}
.big_blue_h4{
  font-size: 3rem;
  font-weight: bold;
  color: #f4f6fb;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.big_blue_p{
  letter-spacing: 2px;
  line-height: 2.3; /* 行高，1.5~2 是常見的範圍 */
  display: flex;
  justify-content: center;
  width: 100%;
  color: #f4f6fb;
  flex-wrap: wrap;
  text-align: left;
  word-break: break-word; /* 強制長字串斷行 */
  font-size: 1rem;
  font-weight:400;

}

@keyframes randomFloat {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-20px, 20px) scale(1.1);
  }
  0% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes randomFloat_2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(20px, 20px) scale(1.2);
  }
  0% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes randomFloat_3 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-20px, -20px) scale(1.1);
  }
  0% {
    transform: translate(0, 0) scale(1);
  }
}
.footer{

  margin-top: 0px;
}


.big_white {
  width: 100%;
  height: 800px;
  box-shadow: 0px 0px 3px 2px rgba(71, 64, 56, 0.3);
  background: linear-gradient(0deg, rgb(230, 232, 238,0.8), rgb(230, 232, 238,0.8), rgb(193, 196, 205,0.8)); 
  /* filter: blur(5px); */
  animation: gradient 10s ease-in-out infinite; /* 应用缩放动画 */
  background-size: 200% 200%; /* 初始背景大小为 100% */
  position: relative; 
  overflow: hidden;
}

.big_white::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/彩帶.jpg') no-repeat center center; /* 替换为你的图片路径 */
  background-size: cover; /* 确保图片填充容器 */
  opacity: 0.6; /* 调整图片透明度 */
  pointer-events: none; /* 避免伪元素阻挡鼠标事件 */
  z-index: -1; /* 让图片位于 .big_title 的背景上 */

}
#next_year{
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(135deg, #55558b, #43437a, #22223c); /* 渐变颜色 */
  background-clip: text;  /* 让渐变应用到文本 */
  -webkit-background-clip: text;  /* 对Webkit浏览器的兼容性 */
  color: transparent;  /* 保持文本透明度，使背景渐变显示 */
  font-weight: 1000;
  animation: gradientMove 10s ease-in-out infinite, floatText 5s ease-in-out infinite;
  background-size: 200% 200%; /* 初始背景大小为 100% */
}

#gogogo{
  font-size: 7rem;
  font-weight: bold;
  background: linear-gradient(135deg, #55558b, #43437a, #22223c); /* 渐变颜色 */
  background-clip: text;  /* 让渐变应用到文本 */
  -webkit-background-clip: text;  /* 对Webkit浏览器的兼容性 */
  color: transparent;  /* 保持文本透明度，使背景渐变显示 */
  font-weight: 1000;
  animation: gradientMove 10s ease-in-out infinite, floatText 5s ease-in-out infinite;
  background-size: 150% 150%; /* 初始背景大小为 100% */

}
@keyframes floatText {
  0% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}
.gogogo{
  animation: gradientMove 10s ease-in-out infinite, floatText 5s ease-in-out infinite;
}
.happy{
  font-size: 8rem;
  position: absolute;
  right: 80px;
  bottom: 60px;
  transform: scaleX(-1);  /* 左右鏡射 */
  cursor: pointer;
  user-select: none;/* 禁止文字或圖片被選中 */

}
@media (min-width: 1200px) and (max-width: 1600px) {
  .history{
    transform: scale(1.2) translateY(60px) ;

  }
  #shoot{

    bottom: 0;
    left: 50px;

  
  }
  .ball{
    bottom: 10px;
    left: 30px;
  }
}

@media (min-width: 1600px) {
  .history{
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .history{
    transform: scale(1.2) translateY(60px) ;

  }
  #shoot{

    bottom: 0;
    left: 50px;

  
  }
  .ball{
    bottom: 10px;
    left: 30px;
  }
}





@media (max-width:1200px){
  .history{
    display: none;
  }

  #round_1 {
    left: 5vw;  /* 左边距为视窗宽度的 5% */
    bottom: 8vh;  /* 底部为视窗高度的 10% */
    width: 15vw;  /* 宽度为视窗宽度的 15% */
    aspect-ratio: 1 / 1;
    opacity: 0.8;
    animation: randomFloat 10s ease-in-out infinite;
    
  }
  
  #round_2 {
    left: 10vw;  /* 左边距为视窗宽度的 10% */
    bottom: 48vh;  /* 底部为视窗高度的 20% */
    width: 9vw;  /* 宽度为视窗宽度的 6% */
    aspect-ratio: 1 / 1;
    opacity: 0.6;
    animation: randomFloat_2 11s ease-in-out infinite 0.5s;
  }
  
  #round_3 {
    left: 23vw;  /* 左边距为视窗宽度的 20% */
    bottom: 20vh;  /* 底部为视窗高度的 15% */
    width: 12vw;  /* 宽度为视窗宽度的 8% */
    aspect-ratio: 1 / 1;
    opacity: 0.7;
    animation: randomFloat_3 9s ease-in-out infinite 1s;
  }
  
  #round_4 {
    right: 6vw;  /* 右边距为视窗宽度的 5% */
    top: 40vh;  /* 顶部为视窗高度的 25% */
    width: 10vw;  /* 宽度为视窗宽度的 6% */
    aspect-ratio: 1 / 1;
    opacity: 0.6;
    animation: randomFloat_2 12s ease-in-out infinite 0.75s;
  }
  
  #round_5 {
    right: 18vw;  /* 右边距为视窗宽度的 8% */
    top: 48vh;  /* 顶部为视窗高度的 20% */
    width: 14vw;  /* 宽度为视窗宽度的 15% */
    aspect-ratio: 1 / 1;
    animation: randomFloat 8s ease-in-out infinite 1.25s;
    opacity: 0.7;
  }
  
  #round_6 {
    right: 8vw;  /* 右边距为视窗宽度的 5% */
    top: 10vh;  /* 顶部为视窗高度的 10% */
    width: 17vw;  /* 宽度为视窗宽度的 10% */
    aspect-ratio: 1 / 1;
    opacity: 0.8;
    animation: randomFloat_3 9s ease-in-out infinite 1.5s;
  }


  .big_blue{
    padding: 120px 30px;
    height: auto;
    aspect-ratio: unset;
 
  }
  .big_pur{

    padding: 120px 30px;
    height: auto;
    aspect-ratio: unset;

  
  }
  .big_blue_word{

    padding:20px 0px 20px 50px;

    
  
  }


  .big_blue_h4{
    font-size: 2.3rem;

  }
  .big_blue_p{
    font-size: 1rem;

  
  }
}








@media (max-width:800px){
  #round_1 {
    display: none;
  }
  
  #round_2 {
    display: none;
  }
  
  #round_3 {
    display: none;
  }
  
  #round_4 {
    display: none;
  }
  
  #round_5 {
    display: none;
  }
  
  #round_6 {
    display: none;
  }
  .big_word{

    animation: gradientMove 10s ease-in-out infinite, floatText 5s ease-in-out infinite;
    font-size: 4.25rem;

  
  }
  
  .big_small{

    animation: gradientMove 10s ease-in-out infinite, floatText 5s ease-in-out infinite;
    font-size: 4rem;

  }

  .big_blue_p{
    font-size: 0.9rem;

  
  }
}


@media (max-width:750px){
  .big_blue{
    width: 100%;
    height: auto;
    aspect-ratio: unset;
    padding: 100px 10px;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }
  .big_pur{
    width: 100%;
    height: auto;
    aspect-ratio: unset;
    padding: 100px 10px;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  
  }
  .big_blue_img{
    width: 95%;
    aspect-ratio: 3 / 2;
  }
  .big_blue_word{
    width: 95%;
    padding:50px 0px 0px 0px;
    line-height: 2; /* 行高，1.5~2 是常見的範圍 */
    
  
  }
  .big_blue_h4{
    font-size: 2.15rem;

  }
  .big_blue_p{
    font-size: 1.1rem;

  
  }

  #next_year{
    font-size: 4.25rem;

  
  }
  
  #gogogo{
    font-size: 4rem;

  }
  .big_title {
    height: 100vh;

  }
  .big_white{
    height: 100vh;
  }
  .happy{

    right: 20px;
    bottom: 33px;

  
  }

  





}
